@font-face {
    font-family: bebasneue;
    src: url(font/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: geomanist;
    src: url(font/Geomanist-Regular.ttf);
}

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}



body{
    background-color: #FDFBF5 ;
}

.scroller {
    height:100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-x:hidden;

}

.scroller section {
    scroll-snap-align: start;
}



.section{
    height: 100vh;
}

.header{
    position:fixed;
    z-index:100;
    top:0;
    width:100%;
    display:flex;
    justify-content: space-between;
}

.header .logo img{
    width:140px;
}

.datadesign{
    margin-right: 45px;
    margin-top: 20px;
}

.datadesign p{
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:12px;
    color:#57565A;
    text-transform: uppercase;

}

.intro{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.intro-date p{
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#A7A5AB;
    font-size:40px;
    text-transform: uppercase;
}

.title{
    margin-bottom:32px;
}
.title p{
    font-family:bebasneue, sans-serif;
    font-weight:500;
    color:#19191A;
    font-size:90px;
}

.text p{
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#A7A5AB;
    font-size:24px;
    text-align: center;
    margin-left:250px;
    margin-right:250px;
    margin-bottom:32px;
}

strong{
    color : #646267;
    font-weight: 550;
}

.woman{
    background-color: #FFD95C;
}

.man{
    background-color: #7BCBCE;
}
.ancre{
    cursor:pointer;
    scroll-behavior: smooth;
}

.graph-title{

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.graph-title p{
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#D3545A;
    font-size:32px;
    padding-top:120px;
}


.container{
    position:relative;
    display:flex;
    width:100vw;
}

.explanation{
    margin-bottom:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:50px;
    padding-left:140px;
}
.explanation p{
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#57565A;
    font-size:20px;
    text-align: left;
    width:75%;
}


.slider{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:200px;
    border-left: #E2E2E2 solid 1px;
    border-right: #E2E2E2 solid 1px;
    margin-left: 30px;
}
.arrow {
    background-color: #FFFDF8;
    opacity: 1;
    width:100%;
    height:50px;
    border-top: #E2E2E2 solid 2px;
    border-bottom: #E2E2E2 solid 2px;
    border-radius: 0%;
}

.arrow-prev{
    top:0 !important;
}

.arrow-next{
    bottom:0 !important;
}

#sketch{
    max-width: 70%;
}

.chaine{
    width:50%;
}

.chaine-resize{
    width:33%;
}

.slide-chaine{
    width:200px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    opacity:0.75;

}

.is-active > .slide-chaine{
    filter: grayscale(0%);
    opacity:1;
}

.dots{
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
    text-align: center;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;

}

.line{
    position:absolute;
    top:7px;
    left:10px;
    height:2px;
    width:655px;
    background-color:#E9E9E9;
    z-index:-1;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #373639;
    border-radius: 50%;
    display: inline-block;
    margin-bottom:5px;
  }

.date{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date p{
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:16px;
    color:#222123;
}

.active, .dot:hover {
    background-color: #D3545A;
}

.p-active{
    font-weight:600 !important;
    color:#D3545A !important;
}

@media screen and (min-width: 1400px) and (max-width: 1920px){ 


    .intro{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding-top: 280px;
    }

    .explanation{
        margin-bottom:20px;
        display:flex;
        justify-content: center;
        align-items: center;
        padding-top:100px;
        padding-left:140px;
    }

    .line{
        position:absolute;
        top:7px;
        left:10px;
        height:2px;
        width:695px;
        background-color:#E9E9E9;
        z-index:-1;
    }

}